# Sanal Ortam
venv/
.venv/
env/

# Veri Seti (Kesinlikle git'e gönderilmemeli)
dataset/
data/

# Model Ağırlıkları ve Checkpointler
models/*.pth
models/*.pt
models/*.onnx
*.pth
*.pt

# Jupyter ve Python Geçici Dosyaları
.ipynb_checkpoints/
__pycache__/
*.pyc

# IDE ve İşletim Sistemi
.vscode/
.idea/
Thumbs.db
.DS_Store